//! **************************************************************************
// Written by: Map P.20131013 on Sun Oct 12 17:31:37 2014
//! **************************************************************************

SCHEMATIC START;
COMP "LD" LOCATE = SITE "D18" LEVEL 1;
COMP "DIN<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "DIN<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "DIN<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "DIN<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "DIN<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "DIN<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "DIN<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "DIN<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "UP" LOCATE = SITE "E18" LEVEL 1;
COMP "COUNT<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "COUNT<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "COUNT<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "COUNT<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "COUNT<4>" LOCATE = SITE "E16" LEVEL 1;
COMP "RESET" LOCATE = SITE "B18" LEVEL 1;
COMP "COUNT<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "COUNT<6>" LOCATE = SITE "E4" LEVEL 1;
COMP "COUNT<7>" LOCATE = SITE "P4" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

